# -------------------------
# Python
# -------------------------

__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/

*.egg-info/
dist/
build/


# -------------------------
# Environment / Secrets
# -------------------------

.env
.env.*
!.env.example

# -------------------------
# RAG data
# -------------------------

data/raw/
data/processed/

# -------------------------
# Databases
# -------------------------

*.db
*.sqlite
*.sqlite3


# -------------------------
# Logs
# -------------------------

*.log
logs/


# -------------------------
# Testing
# -------------------------

.pytest_cache/
.coverage
htmlcov/
test*

# -------------------------
# Jupyter
# -------------------------

.ipynb_checkpoints/


# -------------------------
# IDE
# -------------------------

.vscode/
.idea/


# -------------------------
# OS
# -------------------------

.DS_Store
Thumbs.db


# -------------------------
# Docker
# -------------------------

postgres_data/
qdrant_storage/